// Fonts

@mixin raleway-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

@mixin raleway-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin raleway-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

@mixin raleway-semi-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

@mixin raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

@mixin raleway-extra-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

@mixin raleway-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

