<!-- Case Studies -->

<section class="case-studies">
    <div class="case-studies-wrapper">
        {% include 'components/case-study.twig' with
            {
                title: "Man Repeller",
                url: "http://www.manrepeller.com",
                linkCopy: "http://www.manrepeller.com",
                content: "Man Repeller was conceived as a fashion blog, and matured into full scale publishing site receiving more than 10 million monthly unique page views. Over a short period of time, we were tasked with defining strategic goals, creating a new site structure, conceiving a new design language, and developing a responsive prototype. A particular success during this project was the creation of “The Lookbook”, a focused, photo-only consumption mode built as a layer on top of the entire site.",
                vidArray: "images/mr-lookbook.mp4",
                imgArray1: "images/mr-desktop.jpg",               
                imgArray2: "images/mr-mobile.png",               
                imgArray3: "images/mr-desktop2.jpg"
            }
        %}
        {% include 'components/case-study.twig' with
            {
                title: "Cloud <sup>9</sup> - Elliot",
                url: "http://www.illapiano.com/cloud9",
                linkCopy: "http://www.illapiano.com/cloud9",
                content: "Cloud9 pioneered new technological advancements in digital voice communication, focussing on allowing a software-based replacement for financial telephony. Our team conducted user and market research to create a groundbreaking desktop application prototype, delivered in a web-based, platform-agnostic package.",
                vidArray: "images/cloud9.mp4",
                imgArray1: "images/cloud9-1.jpg",               
                imgArray2: "images/cloud9-2.jpg",               
                imgArray3: "images/cloud9-3.jpg"
            }
        %}          
        {% include 'components/case-study.twig' with
            {
                title: "CFRA",
                url: "#",
                linkCopy: "http://www.manrepeller.com",
                content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                vidArray: "images/cfra.mp4",
                imgArray1: "images/cfra-desktop.jpg",               
                imgArray2: "images/cfra-mobile.jpg",               
                imgArray3: "images/cfra-desktop2.jpg"
            }
        %}        
    </div>
</section>
