<!-- Header -->

{% include 'components/header-system.twig' %}

<header class="header">
    
    <div class="back">
        &#8592;
    </div>

    {% include 'components/circles.twig' with
          {
              circleCount: 28
          }
      %}  

</header>
