<!-- Me -->

<section class="me">
    
    <div class="me-wrapper">
        <div class="image">
            <img src="images/quadtone.jpg">
        </div>
        <div class="copy">
            <h1>
                Hi, I'm Nick.
            </h1>
            <h4>
                I'm a 
                <span class="me-list">
                    <span class="titles">
                        <em>
                            New Jersey Transplant
                        </em>                            
                        <em>
                            Creative Technologist
                        </em>
                        <em>
                            Front End Developer
                        </em>
                        <em>
                            User Experience Dev
                        </em>
                        <em>
                            Bass Guitar Devotee
                        </em>
                        <em>
                            Yankees Fan (hip hip)
                        </em>
                        <em>
                            Bad Movie Enthusiast
                        </em>                    
                    </span>
                </span>
                living in Brooklyn, NY. I'm a big believer in integrity, humor, collaboration, and injecting levity into otherwise mundane moments.
            </h4>

            <h2>
                Currently reading:
            </h2>
            <h3>
                <a href="https://www.goodreads.com/book/show/274043.Software">Software - Rudy Rucker</a>                
            </h3>

            <h2>
                Currently listening to:
            </h2>
            <h3>                
                <a href="https://open.spotify.com/user/nvillapiano/playlist/5ThLDhTyHoDtuLp5GMVV2O">Road Trip Hip Hop Mix</a>
            </h3>

        </div>
    </div>

</section>
